body {
  overflow-x: hidden;
}

.view {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Transitions from jQtouch (with small modifications): http://www.jqtouch.com/
Built by David Kaneda and maintained by Jonathan Stark.
*/
.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 350ms;
}

.slide.in {
  -webkit-transform: translateX(0);
  -webkit-animation-name: slideinfromright;
}

.slide.out {
  -webkit-transform: translateX(-100%);
  -webkit-animation-name: slideouttoleft;
}

.slide.in.reverse {
  -webkit-transform: translateX(0);
  -webkit-animation-name: slideinfromleft;
}

.slide.out.reverse {
  -webkit-transform: translateX(100%);
  -webkit-animation-name: slideouttoright;
}

.slideup.in {
  -webkit-transform: translateY(0);
  -webkit-animation-name: slideinfrombottom;
  z-index: 10;
}

.slideup.out {
  -webkit-animation-name: dontmove;
  z-index: 0;
}

.slideup.out.reverse {
  -webkit-transform: translateY(100%);
  z-index: 10;
  -webkit-animation-name: slideouttobottom;
}

.slideup.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
}
.slidedown.in {
  -webkit-transform: translateY(0);
  -webkit-animation-name: slideinfromtop;
  z-index: 10;
}

.slidedown.out {
  -webkit-animation-name: dontmove;
  z-index: 0;
}

.slidedown.out.reverse {
  -webkit-transform: translateY(-100%);
  z-index: 10;
  -webkit-animation-name: slideouttotop;
}

.slidedown.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
}

@-webkit-keyframes slideinfromright {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideinfromleft {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideouttoleft {
  from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes slideouttoright {
  from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(100%); }
}


@-webkit-keyframes slideinfromtop {
  from { -webkit-transform: translateY(-100%); }
  to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideinfrombottom {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideouttobottom {
  from { -webkit-transform: translateY(0); }
  to { -webkit-transform: translateY(100%); }
}

@-webkit-keyframes slideouttotop {
  from { -webkit-transform: translateY(0); }
  to { -webkit-transform: translateY(-100%); }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade.in {
  opacity: 1;
  z-index: 10;
  -webkit-animation-name: fadein;
}
.fade.out {
  z-index: 0;
  -webkit-animation-name: fadeout;
}
